resources/corp_chars
resources/corp_chars_fix
resources/bitwise.png
resources/filled.png
resources/result.png
resources/blur.png
resources/brightness.png
resources/removed_noise.png
resources/thres.png
resources/hulls.png
resources/linesImg.png
*.o
.idea/
.vscode/
